body{
  background-color:black;
}
p{
  color:white;
  text-align:center;
}
h2{
  color:white;
  text-align:center;
}
h4{
  color:red;
}
.links{
  color:white;
  margin-left:90%;
}
.links a{
  color:white;
}
a:visited{
  color:green;
}
a:hover{
  color:lightblue;
}
h3{
  color:white;
  text-align:center;
}
footer{
  position:absolute;
  right:60%;
  top:122%;
  color:white;
}
