.title{
  text-align:center;
  color:white;
}
.hybrid{
  position:absolute;
  top:30%;
  color:white;
}
.meteora{
  position:absolute;
  left:40%;
  top:30%;
  color:white;
}
.minutestm{
  position:absolute;
  right:1%;
  top:30%;
}
.minutestm p, h1, a{
  color:white;
}
.meteora p, a, h1{
  color:white;
}
.hybrid p, a, h1{
  color:white;
}
body{
  background-color:black;
}
.links{
  margin-right:90%;
  color:white;
  position:absolute;
  top:100%;
}
.links a{
  color:white;
}
.links a:hover{
  color:red;
}
.links a:visited{
    color:lightblue;
}
.links{
  color:white;
}
