body{
  background-color:black;
  color:white;
}
.links{
  margin-left:90%;
  color:white;
}
.links a{
  color:white;
}
h2,p{
  margin-left:20%;
}
.404{
  text-align:center;
  color:white;
}
.sites{
  position:absolute;
  top:100%;
  color:white;
}
.about a{
  color:white;
}
.main{
  color:white;
  margin-left:20%;
}
.title{
  position:absolute;
  top:100%;
  margin-left:20%;
  color:white;
  font-family:cursive;
}
