.title{
  text-align:center;
}
.tutorial2{
    position:absolute;
    left:50%;
}
.tutorial1{
    position:absolute;
}
.tutorial3{
    position:absolute;
    left:80%;
}
.links{
  position:absolute;
  top:100%;
}
.websites{
  position:absolute;
  top:40%;
}
