.title{
  text-align:center;
}
.tutorial2{
    position:absolute;
    right:20%;
}
.tutorial1{
    position:absolute;
}
.tutorial3{
    position:absolute;
    left:60%;
}
.links{
  position:absolute;
  top:100%;
}
.websites{
  position:absolute;
  top:100%;
  left:50%;
}
